{% extends 'base.html' %}
{% block header %}
<header class="masthead masthead-about">  <!-- About background -->
    <div class="text-overlay">
        <h1>About Me</h1>
        </div>
</header>
{% endblock %}
{% block content %}
<!--Page Header---------->
<div class = container position relative px-4 px-lg-5>
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1> About Me</h1>
            <span class="subheading">This is what I do</span>
                    <span class="subheading"> Loreum Ipsum</span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </p>
        </div>
    </div>
</div>
{% endblock %}