{% extends 'base.html' %}
{% block header %}
<header class="masthead masthead-contact">
        <div class="text-overlay">
            <h1> Contact Me</h1>
        </div>
    </header>
{% endblock %}
{% block content %}
<!--Page Header---------->
<div class = container position relative px-4 px-lg-5>
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
                <span class="subheading">Have Questions? I have answers.</span>
                        <span class="subheading"> You can directly contact me through this Address.</span>
        </div>
    </div>
</div>
{% endblock %}